ul,li {
    margin:0px;
    padding:0px;
}
.commands li {
    float:left;
    width:18%;
    padding:10px;
    list-style:none;
}

.commands {
    list-style:none;
    clear:both;
}

.devices {
    list-style:none;
}

.device {
    clear:both;
    margin-top:10px;
    color:red;
    font-weight:bold;
}

a {
    text-decoration:none;
}

#content {
    padding-top:80px;
}

.title {
    position: fixed;
    text-align: center;
    width: 100%;
    background:#FFF;
}